:root {

--font1: 'Acme', sans-serif;
--font2:'Big Shoulders Display', sans-serif;
--font3: 'Neuton', serif; 

}

body {
    /* background-color: #C0C999; */
}

html {
    scroll-snap-type: y proximity;
}

section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

@media (min-width: 768px) {
    section {
        width: 100%;
        height: 100vh;
    }
}
#landing {
    /* height: 100vh; */
    background-image: url(/images/lightbg.png);
    background-clip: border-box;
    background-position: center;
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px solid black; */
    /* height: max-content; */
}

.drop-link {
    font-family: var(--font1);
    font-weight: 700;
}
.drop-link:hover {
    background-color: #45c46f;
    color: #f7f7ff;
}

.main-nav-item {
    font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
    width: 50px;
    padding: 40px;
    height: 150px;
    font-weight: 600;
    font-family: var(--font1);
    background-color: #f7f7ff;
    /* transition-duration: 1000ms; */
    border: .5px solid rebeccapurple;
    border-top: 3px solid black;
}

.main-nav-item:hover {
    background-color: #45c46f;
}

.main-nav-item:active {
    margin-top: 20px;
    /* transform: perspective(); */
    /* transform: scale(0.96); */
    /* transform: scaleZ(0.50); */
}

.about-link, .projects-link, .contact-link {
    position: relative;
    width: fit-content;
    color: black;
    text-shadow: 1px 1px 5px #b26ef0;
    top: 50px;
    left: -40px;
    padding: 5px;
    /* cursor: url(/images/music-note.cur); */
    /* border: 2px solid gold; */
}

.main-nav-ul {
    position: relative;
    width:100%;
    height: 150px;
    /* border: 1px solid green; */
}

.empty {
    position: absolute;
    /* z-index: 1; */
    width: 40px;
    height: 80px;
    background-color: #070600;
    border: 1px solid rebeccapurple;
}

#empty1 {
    left: 125px;
}

#empty2 {
    left: 205px;
}

#empty3 {
    left: 370px;
}

#empty4 {
    left: 450px;
}

#empty5 {
    left: 530px;
}


@media (min-width: 992px) { 
    
#empty1 {
    left: 425px;
}

#empty2 {
    left: 505px;
}

#empty3 {
    left: 670px;
}

#empty4 {
    left: 750px;
}

#empty5 {
    left: 833px;
}
} 

#white {
    color: white;
}

.land-img {
    /* border: 1px solid purple; */
}

.music {
    position: absolute;
    bottom: 0;
    left: 0;
    animation-name: slideInLeft;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.music2 {
    position: absolute;
    bottom: 0;
    left: 0;
    /* animation-name: slideInRight; */
    animation-duration: 5s;
    animation-delay: 3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
/* 
@keyframes slideInLeft {
    0% {
        transform: translateX(0)
    }
    50% {
        transform: translateX(50px);
    }
    100% {
        transition: translateX(-20px)
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100)
    }
    50% {
        transform: translateX(50px);
    }
    100% {
        transition: translateX(-20px)
    }
} */

#aboutNavSection, #projectsNavSection, #contactNavSection {
    display: flex;
    justify-content: center;
}
.nav-section {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    /* height: 200px; */
    /* border: 1px solid #f7f7ff; */
}

.nav-list {
    margin-top: 100px;
    /* border: 1px solid green; */
}


.nav-list-item {
    margin: 0 25px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 100%;
    border: 1px solid #45c46f;
}


.main-top-nav-link {
    color: #45c46f;
    text-shadow: 1px 1px 1px black;
    font-family: var(--font1);
    font-weight: 700;
    text-transform: uppercase;
    font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
    border-radius: 50%;
    box-shadow: inset -2px -1px 0px #146a7b;
}

.main-top-nav-link:hover {
    background-color: #333;
}


.line {
    position: absolute;
    height: 130px;
    top: 10px;
    /* right: 400px; */
    border: 1px solid #45c46f;
}


#line1 {
    left: 220px;
}

#line2 {
    left: 399px;
}

#line3 {
    right: 123px;
}

#line4 {
    left: 230px;
}

#line5 {
    left: 390px;
}

#line6 {
    right: 133px;
}

@media (min-width: 992px) {
    
#line1 {
    left: 515px;
}

#line2 {
    left: 700px;
}

#line3 {
    right: 413px;
}

#line4 {
    left: 525px;
}

#line5 {
    left: 690px;
}

#line6 {
    right: 425px;
}
}

#aboutSection {
    position: relative;
    padding: 100px 0;
    background-color: #b26ef0;
    background-image: url(/images/headshot2\ \(1\).jpeg);
}

@media (min-width: 768px) {
        #aboutSection {
        position: relative;
        padding: 40px 0;
        background-color: #b26ef0;
        background-image: url(/images/music.png);
        background-repeat: no-repeat;
        background-clip: border-box;
        background-position: 20%, 30%;
    } 

}



.headshot {
    position: absolute;
    right: 0;
    top: 30px;
    margin-left: 80px;
}

@media  (min-width: 768px) {
    .headshot {
        position: absolute;
        top: 30px;
        right: 200px;
        animation: slideInRight 4s ease-in-out both ;
    } 
}

@keyframes slideInRight {
    0% {
        transform: translateX(900px)
    }
    50% {
        transform: translateX(-40px);
    }
    100% {
        transition: translateX(-20px)
    }
}

.about-heading {
    margin: 10px;
    font-family: var(--font1);
    font-size: calc(32px + (36 - 32) * ((100vw - 300px) / (1600 - 300)));
    color: #45c46f;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
}


.about-text {
    opacity: 0;
}
@media (min-width: 768px) {
    .about-text {
        opacity: 1;
        font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
        color: black;
        text-shadow: 1px 1px 3px #f7f7ff;
    }

}

.about-btn {
    margin-left: 100px;
    color: black;
    font-weight: 600;
    text-shadow: 1px 1px 4px #45c46f;
    /* background-color: #45c46f; */
    border: 3px solid #45c46f;
}

.projects-heading, .contact-heading{
    font-family: var(--font1);
    font-size: calc(32px + (36 - 32) * ((100vw -  300px) / (1600 - 300)));
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
    text-shadow: 1px 1px 10px #f7f7ff;
    box-shadow: inset -2px -1px 0px #146a7b;
    border-left: 2px solid #f7f7ff;
}

#projectsSection {
    padding: 40px 0;
    border-bottom: 2px solid #45c46f;
}


#cardSection {
    margin-bottom: 50px;
}

.doja {
    margin-top: 60px;
    margin-bottom: 0;
}
.project-card:hover {
    margin-top: -10px;
}

#contactSection {
    margin-top: 60px;
    padding-top: 40px;
    background-image: url(/images/music.png);
    background-repeat: no-repeat;
    background-clip: border-box;
    background-position: 20%, 30%;
    /* border: 2px solid red; */
}

.contact-socials-list {
    display: flex;
    height: 700px;
    /* border: 1px solid purple; */
}

.contact-list-item {
    list-style-type: none;
    margin: 20px;
    /* border: 1px solid orange; */
}