:root {
/* --font1: acme; */
/* --font2: Black Ops One; */
/* --font3: DM Serif Display; */
/* --font4: Great Vibes; */
/* --font5: Neuton; */
/* --font6: Old Standard TT; */
/* --font7: Prata; */
/* --font8: Sacramento; */

--font1: 'Acme', sans-serif;
--font3: 'DM Serif Display', serif;
--font4: 'Great Vibes', cursive;
--font6: 'Old Standard TT', serif;
--font7: 'Prata', serif;
--font8: 'Sacramento', cursive;

}

section {
    width: 100%;
    height: 100vh;
}
#landing {
    height: 100vh;
    background-image: url(/images/lightbg.png);
    background-clip: border-box;
    background-position: center;
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px solid black; */
    /* height: max-content; */
}
.drop-link {
    font-family: var(--font1);
    font-weight: 700;
}
.drop-link:hover {
    background-color: #45c46f;
    color: #f7f7ff;
}

.main-nav-item {
    font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
    width: 50px;
    padding: 40px;
    height: 150px;
    font-weight: 600;
    font-family: var(--font1);
    background-color: #f7f7ff;
    transition-duration: 1000ms;
    border: .5px solid rebeccapurple;
    border-top: 3px solid black;
}

.main-nav-item:hover {
    background-color: #45c46f;
}

.main-nav-item:active {
    margin-top: 20px;
    /* transform: perspective(); */
    /* transform: scale(0.96); */
    /* transform: scaleZ(0.50); */
}

.about-link, .projects-link, .contact-link {
    position: relative;
    /* height: auto; */
    width: fit-content;
    top: 70px;
    left: -40px;
    padding: 5px;
    /* cursor: url(/images/music-note.cur); */
    /* border: 2px solid gold; */
}

.main-nav-ul {
    position: relative;
    width:100%;
    height: 150px;
    /* border: 1px solid green; */
}

.empty {
    position: absolute;
    /* z-index: 1; */
    width: 40px;
    height: 80px;
    background-color: #070600;
    border: 1px solid rebeccapurple;
}

#empty1 {
    left: 125px;
}

#empty2 {
    left: 205px;
}

#empty3 {
    left: 370px;
}

#empty4 {
    left: 450px;
}

#empty5 {
    left: 530px;
}


@media (min-width: 992px) { 
    
#empty1 {
    left: 335px;
}

#empty2 {
    left: 415px;
}

#empty3 {
    left: 580px;
}

#empty4 {
    left: 660px;
}

#empty5 {
    left: 740px;
}
} 

#white {
    color: white;
}

.land-img {
    border: 1px solid purple;
}

#aboutNavSection, #projectsNavSection, #contactNavSection {
    display: flex;
    justify-content: center;
}
.nav-section {
    position: relative;
    width: 45%;
    margin-bottom: 10px;
    height: 250px;
    border: 1px solid #f7f7ff;
}

.nav-list {
    margin-top: 150px;
    /* border: 1px solid green; */
}

.nav-list-item {
    padding: 10px;
    margin: 0 25px;
    border-radius: 100%;
    border: 1px solid #45c46f;
}


.main-top-nav-link {
    color: #45c46f;
    text-shadow: 1px 1px 1px black;
    font-family: var(--font1);
    font-weight: 700;
    text-transform: uppercase;
    font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
    border-radius: 50%;
    box-shadow: inset -2px -1px 0px #146a7b;
}

.top-line {
    width: 71%;
    position: absolute;
    right: 24px;
    top: 20px;
    border: 1px solid #146a7b;
}

.line {
    position: absolute;
    height: 160px;
    top: 20px;
    /* right: 400px; */
    border: 1px solid #45c46f;
}

#line1, #line4 {
    right: 380px;
}

#line2, #line5 {
    right: 210px;
}

#line3, #line6 {
    right: 25px;
}

#aboutSection {
    background-color: #b26ef0;
}

.headshot {
    margin-left: 30%;
}

.about-heading {
    margin: 30px;
    color: #45c46f;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
}

.about-text {
    font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
    color: #353535;
}

.about-btn {
    margin-top: 30px;
    text-transform: uppercase;
    color: #f7f7ff;
    background-color: #45c46f;
}

.projects-heading{
    font-family: var(--font1);
    font-weight: 600;
    margin-bottom: 10px;
}

#projectsSection {
    border-bottom: 2px solid #45c46f;
}

#cardSection {
    margin-bottom: 50px;
}

.project-card:hover {
    margin-top: -10px;
}

