:root {

--font1: 'Acme', sans-serif;
--font2:'Big Shoulders Display', sans-serif;
--font3: 'Neuton', serif; 

}

body {
    background-color: #070600;
}

html {
    scroll-snap-type: y proximity;
}

section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

@media (min-width: 768px) {
    section {
        width: 100%;
        height: 100vh;
    }
}
#landing {
    background-image: url(/images/lightbg.png);
    background-clip: content-box;
    background-position: center;
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.top-dropdown-left {
    position: relative;
    left: -15px;
}

.drop-link {
    font-family: var(--font1);
    font-weight: 700;
}
.drop-link:hover {
    background-color: #45c46f;
    color: #f7f7ff;
}

.head-nav {
    border-top:35px solid #070600;
}

.main-nav-ul {
    position: relative;
    width:100%;
    height: 150px;
    /* border: 1px solid green; */
}

.main-nav-item {
    font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
    width: 50px;
    padding: 40px;
    height: 150px;
    font-weight: 600;
    font-family: var(--font1);
    background-color: #f7f7ff;
    box-shadow: 5px 5px 1px 1px black;
    border: 1px solid rebeccapurple;
    border-top: 5px solid black;
    transition: all .5s;
}

.main-nav-item:hover {
    background-color: #45c46f;
}

.main-nav-item:active {
    background-color: #f7f7ff;
    margin-top: -10px;
    transform: scaleX(0.9);
}



.empty {
    position: absolute;
    width: 40px;
    height: 80px;
    background-color: #070600;
    border: 1px solid rebeccapurple;
}

#empty1 {
    left: 125px;
}

#empty2 {
    left: 205px;
}

#empty3 {
    left: 370px;
}

#empty4 {
    left: 450px;
}

#empty5 {
    left: 530px;
}


@media (min-width: 992px) { 
    
    #empty1 {
        left: 425px;
    }
    
    #empty2 {
        left: 505px;
    }
    
    #empty3 {
        left: 670px;
    }
    
    #empty4 {
        left: 750px;
    }
    
    #empty5 {
        left: 833px;
    }
} 

#white {
    color: white;
}

.about-link, .projects-link, .contact-link {
    position: relative;
    width: fit-content;
    color: black;
    text-shadow: 1px 1px 5px #b26ef0;
    top: 50px;
    left: -40px;
    padding: 5px;
}

.music {
    position: absolute;
    bottom: 0;
    left: 0;
}

.music2 {
    position: absolute;
    bottom: 0;
    left: 0;
}

#aboutNavSection, #projectsNavSection, #contactNavSection {
    display: flex;
    justify-content: center;
}
.nav-section {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    /* height: 200px; */
    border: 1px solid #f7f7ff;
}

.nav-list {
    margin-top: 100px;
    border: 1px solid green;
}


.nav-list-item {
    margin: 0 25px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 100%;
    border: 1px solid #45c46f;
}


.main-top-nav-link {
    color: #45c46f;
    text-shadow: 1px 1px 1px black;
    font-family: var(--font3);
    font-weight: 700;
    text-transform: uppercase;
    font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
    border-radius: 50%;
    box-shadow: inset -2px -1px 0px #146a7b;
}

.main-top-nav-link:hover {
    background-color: #333;
}


.line {
    position: absolute;
    height: 130px;
    top: 10px;
    /* right: 400px; */
    border: 1px solid #45c46f;
}


#line1 {
    left: 220px;
}

#line2 {
    left: 399px;
}

#line3 {
    right: 123px;
}

#line4 {
    left: 230px;
}

#line5 {
    left: 390px;
}

#line6 {
    right: 133px;
}

@media (min-width: 992px) {
    
#line1 {
    left: 515px;
}

#line2 {
    left: 700px;
}

#line3 {
    right: 413px;
}

#line4 {
    left: 525px;
}

#line5 {
    left: 690px;
}

#line6 {
    right: 425px;
}
}

#aboutSection {
    position: relative;
    padding: 100px 0;
    background-color: #b26ef0;
    background-image: url(/images/headshot2\ \(1\).jpeg);
    background-repeat: no-repeat;
    background-clip: content-box;
}

@media (min-width: 768px) {
        #aboutSection {
        position: relative;
        padding: 40px 0;
        background-color: #b26ef0;
        background-image: url(/images/music.png);
        background-repeat: no-repeat;
        background-clip: border-box;
        background-position: 20%, 30%;
    } 

}



.headshot {
    position: absolute;
    right: 0;
    top: 30px;
    margin-left: 80px;
}

@media (min-width: 768px) {
    .headshot {
        position: absolute;
        top: 170px;
        right: 140px;
    }
}

@media  (min-width: 992px) {
    .headshot {
        position: absolute;
        top: 30px;
        right: 200px;
        animation: slideInRight 4s ease-in-out both ;
    } 
}

@keyframes slideInRight {
    0% {
        transform: translateX(900px)
    }
    50% {
        transform: translateX(-40px);
    }
    100% {
        transition: translateX(-20px)
    }
}

@media (min-width: 992px) {
    #headshotAndText {
        margin-right: 20px;
    }

}

.about-heading {
    margin: 10px;
    font-family: var(--font2);
    font-size: calc(52px + (56 - 52) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 600;
    color: #45c46f;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px black;
}
@media (max-width: 575px) {
    .about-heading {
        margin-top: -90px;
    }
}

@media (min-width: 992px) {
    .about-heading {
        position: relative;
        right: 320px;
    }
}

.codingAcad {
    color: #45c46f;
    text-shadow: 1px 1px 1px black;
}
.about-text, .hide {
    opacity: 0;
}

@media (min-width: 992px) {
    .about-text {
        opacity: 1;
        font-family: var(--font1);
        font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
        color: black;
        text-shadow: 1px 1px 3px #f7f7ff;
    }

}

.about-btn {
    margin-left: 100px;
    font-family: var(--font1);
    font-weight: 600;
    text-shadow: 1px 1px 4px #45c46f;
    background-color: #45c46f;
    color: black;
    border: 1px solid black;
}
@media (max-width: 376px) {
    .about-btn {
        margin-top: -200px;
        /* border: 3px solid gold; */
    }
}
@media (min-width: 768px) {
    .about-btn {
        margin-top: 360px;
        font-size: calc(24px + (26 - 24) * ((100vw - 300px) / (1600 - 300)));
    }
}

.about-btn:hover {
    background-color: #146a7b;
}

.projects-heading, .contact-heading{
    margin-top: 20px;
    margin-bottom: 0;
    font-family: var(--font1);
    font-size: calc(32px + (36 - 32) * ((100vw -  300px) / (1600 - 300)));
    font-weight: 600;
    color: #f7f7ff;
    text-shadow: 1px 1px 10px #146a7b;
    box-shadow: inset -2px -1px 0px #146a7b;
    border-left: 2px solid #f7f7ff;
}

#projectsSection {
    padding: 40px 0;
    border-bottom: 2px solid #45c46f;
}


#cardSection {
    margin-bottom: 50px;
}

.doja {
    margin-top: 83px;
    margin-bottom: 0;
}


.rest, .juice {
    margin-bottom: 0;
}

.project-card {
    margin-top: 0;
    border: 1px solid pink;
}
.project-card:hover {
    margin-top: -10px;
}

#contactSection {
    /* margin-top: 60px; */
    /* padding-top: 40px; */
    background-image: url(/images/music.png);
    background-repeat: no-repeat;
    background-clip: border-box;
    background-position: 20%, 30%;
    /* border: 2px solid red; */
}


.contact-socials-list {
    display: flex;
    height: 200px;
    padding: 0;
    /* border: 1px solid purple; */
}

@media (min-width: 768px) {
    .contact-socials-list {
        display: flex;
        height: 700px;
}
}  

.contact-list-item {
    list-style-type: none;
    margin: 20px;
    /* border: 1px solid orange; */
}

.email-form {
    margin-top: 10px;
    color: #f7f7ff;
    /* border: 1px solid peru; */
}

#footerSection {
    height: 100px;
}

.colophon {
    margin-top: 50px;
}

/* about page--------------------------------------------- */


@media (min-width: 768px) {
    #about-head {
        /* border: 1px solid blue; */
        height: 230px;
    }
}
.about-nav-section {
    /* background-color: #f7f7ff; */
    /* background-image: url(/images/sheetmusicc.png); */
    background-repeat: no-repeat;
    background-clip: border-box;
    background-position: 50%;
    /* border: 1px solid green; */
    margin-top: 0;
    padding-top: 10px;
}

.about-section-heading {
    width: 80%;
    color: #f7f7ff;
    font-family: var(--font2);
    font-weight: 700;
    font-size: calc(40px + (44 - 40) * ((100vw - 300px) / (1600 - 300)));

}

@media (max-width: 376px) {
    .about-section-heading {
        width: 90%;
    }
}

@media (min-width: 768px) {
    .about-section-heading {
        width: 50%;
    }
}

.typewriter h2 {
    overflow: hidden;
    border-right: 3px solid #45c46f;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 1s steps(20, end), blink-caret 1s step-end infinite;
}

@keyframes typing {
    from { width: 0;}
    to {width: 25%;}
}

@keyframes blink-caret {
    from, to { border-color: transparent;}
    50% {border-right-color: #45c46f;}
} 


.skate {
    position: absolute;
    right: 0;
    top: 0;

}

/* .about-card-list {
    margin-left: 30px;
} */

.about-card-heading {
    text-shadow: 1px 1px 1px black;
    text-decoration: underline;
}

.about-cards{
    margin-top: 20px;
    width: 400px;
    height: 400px;
    font-family: var(--font1);
    font-size: calc(24px + (28 - 24) * ((100vw - 300px) / (1600 - 300)));
    color: #f7f7ff;
    background-color: #146a7b;
    box-shadow: 10px 10px 5px#45c46f;
}

.skate-bitmoji {
    position: absolute;
    top: 190px;
    left: -280px;
    z-index: 1;
}

.about-design-text, .about-artist-text, .developer-list-item {
    margin-top: 20px;
    font-size: calc(20px + (24 - 20) * ((100vw - 300px) / (1600 - 300)));
    font-family: var(--font2);
    font-weight: 600;
}

.photos {
    padding-top: 60px;
}

.music-section-box {
    margin-top: 40px;
    border: 2px solid #45c46f;

}


@media (min-width: 768px){
    .music-section-box {
        margin-top: 80px;
        width: 600px;
        height: 400px;
        border: 2px solid #45c46f;
    }
}

.beats-heading, .original-song-heading {
    margin: 10px 0 40px 0;
    color: #146a7b;
}

.beat-cap {
    color: #f7f7ff;
}